mat-form-field {
  margin-right: 10px;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.mat-form-field-flex {
  padding: 4px 8px; /* Padding inside dropdown */
}

button {
  padding: 24px; /* Padding inside button */
  margin-top: auto;
  margin-bottom: 12px;
  font-size: large;
  border-radius: 0.25rem; /* Rounded corners */
  color: #ffffff !important;
  background-color: #cc27b0 !important;
}

button:hover {
  background-color: rgb(181, 13, 152) !important; /* Darker shade on hover */
}

.tenant-name {
  margin-right: 15px;
}
