mat-form-field {
    margin-right: 10px; /* Space between dropdown and button */
  }
  
  .mat-form-field-flex {
    padding: 4px 8px; /* Padding inside dropdown */
  }
  
  button {
    padding: 24px; /* Padding inside button */
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }

  .tenant-name {
    margin-right: 15px;
  }