mat-form-field {
    margin-right: 10px; /* Space between dropdown and button */
  }
  
  .mat-form-field-flex {
    padding: 4px 8px; /* Padding inside dropdown */
  }
  
  button {
    padding: 24px; /* Padding inside button */
    margin:4px;
    font-size: large;
    top: -7px;
  }