<mat-form-field>
  <mat-label>Select Transform</mat-label>
  <mat-select (selectionChange)="onTransformSelect($event.value)" [disabled]="isLoading">
    <mat-option [value]="'new'">Create New Transform</mat-option>
    <mat-option *ngFor="let transform of transforms" [value]="transform">
      {{ transform.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="full-width">
  <mat-label>Ask Harbor Pilot</mat-label>
  <input matInput [(ngModel)]="harborPilotPrompt" placeholder="Enter your question here" [disabled]="isAiLoading">
  <button mat-icon-button matSuffix (click)="askHarborPilot()" [disabled]="isAiLoading">
    <mat-icon *ngIf="!isAiLoading">send</mat-icon>
    <mat-spinner diameter="24" *ngIf="isAiLoading"></mat-spinner>
  </button>
</mat-form-field>

<mat-form-field appearance="fill" class="full-width">
  <mat-label>Transform JSON</mat-label>
  <textarea matInput [(ngModel)]="transformJson" rows="10" [disabled]="isLoading || isSaving"></textarea>
</mat-form-field>

<button mat-raised-button color="primary" (click)="saveTransform()" [disabled]="isLoading || isSaving">
  <ng-container *ngIf="!isSaving">
    {{ isNewTransform ? 'Create' : 'Update' }} Transform
  </ng-container>
  <mat-spinner diameter="24" *ngIf="isSaving"></mat-spinner>
</button>

<mat-spinner *ngIf="isLoading" diameter="48" class="center-spinner"></mat-spinner>