#new-transform-button, #edit-transform-button {
    padding-left: 25px;
    margin-left: 25px;
    border-radius: .5rem;
    margin-bottom: 10px;
    color: #0033a1;
    border: 1px solid #0033a1;
    background-color: #ffffff;
}

#new-transform-button:hover, #edit-transform-button:hover {
    background-color: #0033a1;
    color: #ffffff;
    border: 1px solid #0033a1;
}

#edit-transform-button {
    margin-bottom: 0px;
}

.transform-builder-container {
    position: relative;
  }
  
  .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1000; /* Ensure it appears above the builder */
    background: white; /* Optional: to improve contrast */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: visual separation */
  }