mat-form-field {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }

  .full-width {
    width: 100%;
  }
  
  .center-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }