<mat-form-field appearance="fill" class="custom-fill-field">
    <mat-label>Select a Transform</mat-label>
    <mat-select [(value)]="selectedTransform" (selectionChange)="onTransformSelect($event.value)">
      @for (option of transforms; track option) {
        <mat-option [value]="option">{{ option.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>




  <mat-form-field appearance="fill" class="full-width custom-fill-field">
    <mat-label>Transform JSON</mat-label>
    <textarea matInput [(ngModel)]="transformJson" rows="10" [disabled]="isLoading || isSaving"></textarea>
  </mat-form-field>


  <button id="updateButton" mat-raised-button color="primary" (click)="saveTransform()" [disabled]="isLoading || isSaving">
    <ng-container *ngIf="!isSaving">
      {{ isNewTransform ? 'Create' : 'Update' }} Transform
    </ng-container>
    <mat-spinner diameter="24" *ngIf="isSaving"></mat-spinner>
  </button>
  <button id="deleteButton" mat-raised-button color="primary" (click)="deleteTransform()" [disabled]="isLoading || isSaving">
    <ng-container *ngIf="!isSaving">
      Delete Transform
    </ng-container>
    <mat-spinner diameter="24" *ngIf="isSaving"></mat-spinner>
  </button>
  <mat-spinner *ngIf="isLoading" diameter="48" class="center-spinner"></mat-spinner>
