/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root [data-theme='wintry'] {
	--theme-rounded-base: 5px;
	--theme-rounded-container: 4px;
}