<!-- Spinner -->
<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="75"></mat-spinner>
</div>

<!-- Table -->
<table
  mat-table
  [dataSource]="identities"
  class="mat-elevation-z8"
  *ngIf="!loading && identities.length"
>
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let identity">{{ identity[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Empty State -->
<div
  *ngIf="!loading && hasDataLoaded && identities.length === 0"
  class="empty-message"
>
  No identities found.
</div>
