::ng-deep mat-spinner circle {
  stroke: #0033a1; /* teal-like custom color */
}

.spinner-container {
  display: flex;
  justify-content: center; // horizontal centering
  align-items: center; // vertical centering
  border: none;
  height: 75vh; // takes full viewport height (adjust as needed)
}
