import { ipcMain } from 'electron';
import * as sdkWrapper from './sailpoint-sdk';
import * as sdk from 'sailpoint-api-client';
import { apiConfig } from '../api';

export function setupSailPointSDKHandlers() {

{{#apiInfo}}{{#apis}}
{{#operations}}
{{#operation}}
{{#useSingleRequestParameter}}
ipcMain.handle('{{#lambda.kebabcase}}{{nickname}}{{/lambda.kebabcase}}', async (event, {{#allParams.0}}request: sdk.{{classname}}{{operationIdCamelCase}}Request{{^hasRequiredParams}} = {}{{/hasRequiredParams}}{{/allParams.0}}) => {
    return await sdkWrapper.{{nickname}}({{#allParams.0}}request, apiConfig{{/allParams.0}}{{^allParams.0}}apiConfig{{/allParams.0}});
});
{{/useSingleRequestParameter}}
{{/operation}}
{{/operations}}
{{/apis}}{{/apiInfo}}

}