const { ipcRenderer } = require('electron');

const sdkPreload = {
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{operationId}}: ({{#allParams.0}}request{{/allParams.0}}) => ipcRenderer.invoke('{{#lambda.kebabcase}}{{operationId}}{{/lambda.kebabcase}}'{{#allParams.0}}, request{{/allParams.0}}),
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
};

module.exports = sdkPreload;